<div class="container-fluid">
    <div class="row">
        <%- include ('../partials/sidebar.ejs') %>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

            <h4>Upload excel file</h4>
            <input type="file" class="my-pond" name="file" data-max-files="1"/>

            <div>
                <a href="/excel/download">Download template</a>
            </div>
        </main>
    </div>
</div>

<script>
    $(document).ready(function () {

        $.fn.filepond.registerPlugin(FilePondPluginFileValidateType);
        // Turn input element into a pond
        $('.my-pond').filepond({
            acceptedFileTypes: ['application/vnd.ms-excel', 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', 'application/vnd.oasis.opendocument.spreadsheet'],
            allowMultiple: false,
            allowFileTypeValidation: true,
            labelFileTypeNotAllowed: 'File of invalid type',
            instantUpload: true,
            allowMultipart: false,
            name: 'file',
            processHandler(...args){
                console.log(args);
            },
            server: {
                process: {
                    url: '/excel/upload',
                    method: 'POST',
                    withCredentials: false,
                    headers: {
                        // 'content-type': 'multipart/form-data',
                        'x-access-token': window.localStorage.getItem('x-access-token')
                    },
                    onload: () => {
                        console.log('onload')
                    },
                    onerror: (error) => {
                        console.log('onerror', error)
                    },
                    // ondata: (data, ...args) => {
                    //     console.log('ondata', data, args)
                    // }
                },
            }
        });

        // Set allowMultiple property to true
        // $('.my-pond').filepond('allowMultiple', false);

        // Listen for addfile event
        // $('.my-pond').on('FilePond:addfile', function (e) {
        //     console.log('file added event', e);
        // });

        // Manually add a file using the addfile method
        // $('.my-pond').first().filepond('addFile', 'index.html').then(function (file) {
        //     console.log('file added', file);
        // });
    });
</script>
