<nav class="navbar navbar-dark bg-dark sticky-top">
  
     <!-- <img src="" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">  -->
   <strong style="color:  #fff;">  Movven Express </strong>  
    </a>
</nav>
