<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Movven Express <i class="fas fa-project-diagram "></i> Developed by M&V</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->
