table td a.detalle{
    color: rgb(0, 162, 255);
    
}

table td a.detalle:hover{
    color: rgb(0, 68, 255);
    
}

table td a.business {
    color: rgb(223, 64, 255);
    
}

table td a.business:hover{
    color: rgba(253, 1, 253, 0.966);
    
}

