<!--Filtros de la tabla-->
<div>
  <select id="order-status">
    <option value=null >Seleccione un estado</option>
    <option value= 1 >No verificado</option>
    <option value= 2 >Verificado</option>
    <option value= 3 >Procesado</option>
    <option value= 4 >Completado</option>
    <option value= 5 >Retirado</option>
    <option value= 6 >Entregado</option>
    <option value= 7 >No Entregado</option>
    <option value= 8 >Rechazado</option>
  </select>
  <input type="date" id="order-date">
  
  <button type="submit" id="btn-order" class="btn btn-primary">Filtrar</button>
</div>


<!-- Tabla de pedidos -->
<div class="table-responsive">
    <table class="table table-striped table-sm ">
      <thead>
        <tr>
        
          <th>Fecha de solicitud creada</th>
          <th>ID de delivery</th>
          <th>Nombre</th>
          <th>Teléfono</th>
          <th>Ciudad</th>
          <th class="Distrito">Distrito</th>
          <th>
            Estado
          </th>
        </tr>
      </thead>
      <tbody id="tbody-orders">
        <tr>
          <td>02/08/6</td>
          <td>as458asf85</td>
          <td>Carlos Hills</td>
          <td>6325-8974</td>
          <td>Panamá</td>
          <td>Panamá</td>
          <td>Pendiente</td>
        </tr>
        <tr>
          <td>06/05/9</td>
          <td>sdffff3446</td>
          <td>Ameth Vargas</td>
          <td>6325-8974</td>
          <td>Panamá</td>
          <td>Panamá</td>
          <td>Entregado</td>
        </tr>        
      </tbody>
    </table>
  </div>