


<script>

	window.addEventListener("load", function() {
	
			// icono para mostrar contraseña
			showPassword = document.querySelector('.show-password');
			showPassword.addEventListener('click', () => {
	
				// elementos input de tipo clave
				password1 = document.querySelector('.password1');
				password2 = document.querySelector('.password2');
	
				if ( password1.type === "text" ) {
					password1.type = "password"
					password2.type = "password"
					showPassword.classList.remove('fa-eye-slash');
				} else {
					password1.type = "text"
					password2.type = "text"
					showPassword.classList.toggle("fa-eye-slash");
				}
	
			})
	
	});
	  </script>

<!--===============================================================================================-->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="/js/lucalAJAXabr.js"></script>


</body>
</html>
