<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
   
    </a>
  </nav>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
            <form class="login100-form validate-form flex-sb flex-w" id="form-login">
               <div style=" text-align:center">            
                <img src="images/movven-logo.png" width="50%" height="70%" class="d-inline-block align-top" alt="" loading="lazy">
                <h4  style="color:  #b846af;" >
                 <strong>Cuenta de Acceso</strong>   
                </h4>
                               
            </div>
           
                <div class="login100-form-title" id="alert1"></div>
                <span class="txt1 p-b-11">
                     Correo Electr칩nico
                </span>
                <div class="wrap-input100 validate-input m-b-36" data-validate = "Debe Ingresar un correo electr칩nico">
                    <input class="input100" type="email" name="email" id="email">
                    <span class="focus-input100"></span>
                </div>
                
                <span class="txt1 p-b-11">
                    Contrase침a
                </span>
                <div class="wrap-input100 validate-input m-b-12" data-validate = "Debe ingresar una contrase침a">
                    <span class="btn-show-pass">
                        <i class="fa fa-eye"></i>
                    </span>
                    <input class="input100" type="password" name="password" id="password" >
                    <span class="focus-input100"></span>
                </div>
                
                <!-- <div class="flex-sb-m w-full p-b-48">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Recordarme
                        </label>
                    </div>

                   <div>
                        <a href="#" class="txt3">
                            Forgot Password?
                        </a>
                    </div> 
                </div> -->

                <div  style=" margin-left: auto;   margin-right: auto;">
                    <br>
                    <button type="submit"class="login100-form-btn">
                        Acceder
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>