<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">   
    </a>
  </nav>
  <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
      <div class="card login-card">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="assets/images/dalivery.jpg" alt="login" class="login-card-img">
          </div>
          <div class="col-md-7" >
            <div class="card-body" style="align-items: center;">
              <div class="brand-wrapper">
                <img src="assets/images/movven-logo.png" alt="logo" class="logo">
              </div>             
              <form id="form-login" action="#!">
                <div id="alert1"></div>
                <label >Correo Electr칩nico</label>
                  <div class="form-group">                    
                    <input type="email" name="email" id="email" class="form-control" placeholder="Correo Electr칩nico" required>
                  </div>
                  <label >Contrase침a</label>
                  <body>
                  
                  <div class="form-group mb-4">
            
                    <input type="password" name="password1" id="password" class="form-control password1" placeholder="***********" required>
                    <span class=""> <i id="icon-eye" class="fa fa-fw fa-eye password-icon show-password"></i></span>
                   
                  </div>
                  <input name="login" id="login" class="btn btn-block login-btn mb-4" type="submit" value="Iniciar sesi칩n">
                </form>
                <footer class="sticky-footer bg-white">
                  <div class="container my-auto">
                      <div class="copyright text-center my-auto">
                          <span>Copyright &copy; Movven Express <br> 
                            <!-- <i class="fas fa-project-diagram "></i> Developed by <a href="https://seta.agency/">Seta Digital Solutions</a></span> -->
                      </div>
                  </div>
              </footer>     
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
<div id="dropDownSelect1"></div>