<div class="card shadow mb-4 border-bottom-dark">
    <!-- Card Header - Accordion -->
    <a href="#collapseaddpedidos" class="d-block card-header py-3" data-toggle="collapse" role="button"
        aria-expanded="true" aria-controls="collapseaddpedidos">
        <h6 class="m-0 font-weight-bold movven-color"><strong>Filtros</strong> </h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse show" id="collapseaddpedidos">
        <div class="card-body">
            <div class="container-fluid">
                <form>              
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="order-status">Estado del Pedido</label>
                                <select class="form-control" id="order-status">
                                    <option value=null>Seleccione un estado</option>
                                    <option value=null>Mostrar todos</option>
                                    <option value=1>No verificado</option>
                                    <option value=2>Verificado</option>
                                    <option value=3>Procesado</option>
                                    <option value=4>Completado</option>
                                    <option value=5>Retirado</option>
                                    <option value=6>Entregado</option>
                                    <option value=7>No Entregado</option>
                                    <option value=8>Rechazado</option>
                                </select>
                            </div>                   
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Fecha</label>
                                <input type="date" class="form-control" id="order-date" >
                              </div>                        
                        </div>                    
                        <button  type="button"  class="btn btn-primary btn-lg " id="btn-order">Consultar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br>