<form>              
  <div class="form-row">
      <div class="form-group col-md-6">
          <label for="order-status">Estado del Pedido</label>
          <select class="form-control" id="order-status">
              <option value=null>Seleccione un estado</option>
              <option value=null>Mostrar todos</option>
              <option value=1>No verificado</option>
              <option value=2>Verificado</option>
              <option value=3>Procesado</option>
              <option value=4>Completado</option>
              <option value=5>Retirado</option>
              <option value=6>Entregado</option>
              <option value=7>No Entregado</option>
              <option value=8>Rechazado</option>
          </select>
      </div>                   
      <div class="form-group col-md-6">
          <label for="inputEmail4">Fecha</label>
          <input type="date" class="form-control" id="order-date" >
      </div>                        
  </div>                    
  <button  type="button" class="btn btn-primary btn-lg " id="btn-order">Consultar</button>
</form>

