<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-truck"></i>
    </div>
    <div class="sidebar-brand-text">Movven Express</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Orders-->
  <li class="nav-item active">
    <a class="nav-link" href="/dashboard">
      <i class="fas fa-fw fa-truck-loading"></i>
      <span>Pedidos</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Nav Item - File-->
  <li class="nav-item active">
    <a class="nav-link" href="/file">
      <i class="fas fa-fw fa-file"></i>
      <span>Archivos</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline ">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
